@model IEnumerable<Capstone_RPG_Manager.Models.AmbientazioniTab>

<div class="container overflow-y-auto" style="min-height:200px">
    <p>
        @Html.ActionLink("Create New Setting", "Create", null, new {@class="btn btn-outline-success"})
    </p>
    <table class="table">
        <tr>
            <th class="col-6">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th class="col-3">
                @Html.DisplayNameFor(model => model.Privata)
            </th>
            <th class="col-3">
                Actions
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="~/AmbientazioniTab/Details/@item.ID">@Html.DisplayFor(modelItem => item.Nome)</a>
                </td>
                <td>
                    @Html.CheckBoxFor(modelItem => item.Privata, new { @class = "form-check-input", disabled = true })
                </td>
                <td>
                    <a href="~/AmbientazioniTab/PrivateOnPW/@item.ID" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Set Private/Public" class="me-2"><i class="fa-solid fa-unlock-keyhole"></i></a>
                    <a href="~/AmbientazioniTab/Edit/@item.ID" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Edit" class="me-2"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="~/AmbientazioniTab/Delete/@item.ID" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Delete" class="me-2"><i class="fa-solid fa-trash-can"></i></a>
                </td>
            </tr>
        }

    </table>
</div>