@model Capstone_RPG_Manager.Models.SessioniTab

@{
    ViewBag.Title = "Create";
}

<h2 class="text-center my-5">Create Session</h2>

<div class="container d-flex flex-column align-items-center my-5">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal d-flex flex-column">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group my-2">
                @Html.LabelFor(model => model.Titolo, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.Titolo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Titolo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group my-2">
                @Html.LabelFor(model => model.Descrizione, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.TextAreaFor(model => model.Descrizione, new { @class = "form-control", style = "max-width:-webkit-fill-available; width:100%" })
                    @Html.ValidationMessageFor(model => model.Descrizione, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group my-2">
                @Html.LabelFor(model => model.Data, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.Data, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                    @Html.ValidationMessageFor(model => model.Data, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group my-3">
                <div>
                    <input type="submit" value="Create" class="btn btn-outline-success" />
                </div>
            </div>
        </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
