@model Capstone_RPG_Manager.Models.SessioniTab

@{
    ViewBag.Title = "Details";
}

<h2 class="text-center my-5">@Model.Titolo</h2>
@if (ViewBag.LoggedUser)
{
    <p class="d-flex justify-content-end">
        <a href="~/SessioniTab/Edit/@Model.ID" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Edit" class="me-2"><i class="fa-solid fa-pen-to-square"></i></a>
        <a data-bs-toggle="modal" data-bs-target="@("#deleteSession" + Model.ID)" class="me-2"><i class="fa-solid fa-trash-can"></i></a>
        <div class="modal fade" id="@("deleteSession" + Model.ID)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="text-center" id="exampleModalLabel">Attention!!!</h3>
                        <button type="button" class="btn-close" style="opacity:1" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to DELETE this Session?</p>
                    </div>
                    <div class="modal-footer d-flex justify-content-evenly">
                        <a class="btn rpgButtonDelete w-25" href="~/SessioniTab/Delete/@Model.ID">Delete<img class="arrow" src="~/Content/Images/Site/Arrow.png" width="20" height="115" /></a>
                        <a class="btn rpgButton w-25" data-bs-dismiss="modal">Close<img class="arrow" src="~/Content/Images/Site/Arrow.png" width="20" height="115" /></a>
                    </div>
                </div>
            </div>
        </div>
    </p>
}
<div class="container my-5">
    <div>
        <p class="fw-bold">Starting Date</p>
        <p>@Html.DisplayFor(model => model.Data)</p>
    </div>
    <div class="my-5">
        <p class="fw-bold">@Html.DisplayNameFor(model => model.Descrizione)</p>
        <p>@Html.DisplayFor(model => model.Descrizione)</p>
    </div>
    <div class="row my-5 p-0">
        @*<div class="col-md-6 p-0">
                @{ Html.RenderAction("PWSessionsListByCampaign", "SessioniTab");}
            </div>*@
        @*<div class="col-md-6 p-0">
                @{ Html.RenderAction("PWCampaignsListBySetting", "CampagneTab");}
            </div>*@
    </div>
</div>
