@model IEnumerable<Capstone_RPG_Manager.Models.CampagneTab>

<div class="container overflow-y-auto mx-0 my-5 p-0" style="min-height:200px">
    <h3 class="text-center my-5">Campaigns</h3>
    @{
        if (ViewBag.LoggedUser)
        {
            <p>
                <a class="btn rpgButton" href="~/CampagneTab/Create">Create New Campaign<img class="arrow" src="~/Content/Images/Site/Arrow.png" width="20" height="115" /></a>
            </p>
        }
    }
    <table class="table table-borderless m-0 p-0" style="width: 95%">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmbientazioniTab.Nome)
            </th>
            @{
                if (ViewBag.LoggedUser)
                {
                    <th>
                        Actions
                    </th>
                }
            }
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    <a class="linkDetail" href="~/CampagneTab/Details/@item.ID">@Html.DisplayFor(modelItem => item.Nome)</a>
                </td>
                <td>
                    <a class="linkDetail" href="~/AmbientazioniTab/Details/@item.ID">@Html.DisplayFor(modelItem => item.AmbientazioniTab.Nome)</a>
                </td>
                @{
                    if (ViewBag.LoggedUser)
                    {
                        <td>
                            <a href="~/CampagneTab/Edit/@item.ID" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Edit" class="me-2"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a data-bs-toggle="modal" data-bs-target="@("#deleteCampaign" + item.ID)" class="me-2"><i class="fa-solid fa-trash-can"></i></a>
                            <div class="modal fade" id="@("deleteCampaign" + item.ID)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="text-center" id="exampleModalLabel">Attention!!!</h3>
                                            <button type="button" class="btn-close" style="opacity:1" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to DELETE this Campaign? You will also DELETE Sessions connected to it!!!</p>
                                        </div>
                                        <div class="modal-footer d-flex justify-content-evenly">
                                            <a class="btn rpgButtonDelete w-25" href="~/CampagneTab/Delete/@item.ID">Delete<img class="arrow" src="~/Content/Images/Site/Arrow.png" width="20" height="115" /></a>
                                            <a class="btn rpgButton w-25" data-bs-dismiss="modal">Close<img class="arrow" src="~/Content/Images/Site/Arrow.png" width="20" height="115" /></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    }
                }
            </tr>
        }
    </table>
</div>
