@model Capstone_RPG_Manager.Models.UtentiTab

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UtentiTab</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RuoliTab.Ruolo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RuoliTab.Ruolo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
